.opt-header{
    width: 100%;
    display: flex;

}
.opt-search{
    display: flex;
    justify-content: flex-start;
    border: 1px rgb(165, 123, 212) solid;
    border-right: transparent;
    border-radius: 5px 0 0 5px;
    padding: 2px;

}

#opt-svg{
    width: 24px;
    height: 24px;
}

#opt-input{
    border: transparent;
}

.opt-btn{
    margin-right: 25px;
    border: transparent;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(165, 123, 212);
    width: 80px;
}

.opt-s-btn{
    border-radius: 0 5px 5px 0;
    width: 80px;
}

#opt-select{
    width: 150px;
    border: 1px rgb(165, 123, 212) solid;
    border-radius: 5px;
    outline: none;
}


.detail-info{
    display: none;
}