* {
    margin: 0;
    padding: 0;
}

.error-div {
    width: 100%;
    height: 100%;
    align-items: center;
    position: fixed;
    display: flex;
    margin-top: -5%;
    flex-direction: column;
    justify-content: center;
}

.main-svg {
    height: 250px;
}

.error-svg {
    margin: 24px 0;
    height: 32px;
}

p {
    padding: 8px;
    font-size: 28px;
}