* {
    margin: 0;
    padding: 0;
}

input {
    border: none;
    outline: none;
}

body {
    height: 100vh;
    background: radial-gradient(ellipse at bottom, #d4bbc9 0%, #e0a0be 100%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#log-div {
    position: absolute;
    right: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 500px;
    height: 70%;
    min-height: 600px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, .2);
    box-shadow: 0 0.7px 20px rgba(129, 129, 129, 0.3);
}

#log-div:hover {
    box-shadow: 0 0.7px 20px rgba(129, 129, 129, 0.7);
}

#log-img {
    margin-top: 8%;
    width: 28%;
}

#log-div>p {
    margin: 32px 0;
    font-size: 20px;
    font-weight: 500;
}

/* 账号密码 */

.log-input {
    border: solid rgba(163, 123, 233, .7) 3px;
    border-radius: 4px;
    background-color: white;
    height: 35px;
    width: 360px;
    margin: 16px 0;
}

.log-svg {
    float: left;
    text-align: center;
    height: 100%;
    width: 60px;
}

svg {
    fill: rgba(0, 0, 0, 0.3);
    height: 100%;
}

.log-lock svg {
    height: 80%;
    margin-top: 5%;
}

.log-input input {
    float: left;
    background-color: transparent;
    height: 90%;
    width: 80%;
    font-style: 16px;
}

/* 记住我 */

#log-rem {
    align-self: flex-end;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
    position: relative;
    right: 70px;
}

#log-rem span {
    margin-left: 6px;
    font-size: 14px;
    vertical-align: middle;
}

#log-rem input {
    vertical-align: middle;
    cursor: pointer;
}

#log-in {
    height: 48px;
    width: 240px;
    margin: 32px;
    border-radius: 5px;
    background-color: rgba(163, 123, 233, .8);
    color: white;
    font-size: 16px;
}

#log-in:hover {
    background-color: rgb(163, 123, 233);
    cursor: pointer;
}


.dele {
    position: relative;
    width: 380px;
    height: 180px;
    padding-top: 30px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0.7px 10px rgba(129, 129, 129, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.secti {
    width: 100%;
    height: 100%;
    padding: 40px 0;
    align-items: center;
    z-index: 1000 !important;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sec-de {
    position: absolute;
    right: -15px;
    top: -15px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: rgba(164, 123, 212, .8);
}

.sec-de svg {
    margin-left: -2px;
    width: 30px;
}

.sec-de:hover {
    background-color: rgb(164, 123, 212);
}

.de-sub {
    height: 48px;
    width: 140px;
    margin: 20px;
    margin-bottom: -5px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: rgba(163, 123, 233, .8);
    color: white;
    font-size: 16px;
}

.de-sub:hover {
    background-color: rgb(163, 123, 233);
}

.hide {
    display: none;
}

#rem-me{
    cursor: pointer;
    user-select: none;
}

#rem-me:hover{
    color: rgb(163, 123, 233);
}