/* 存放复用的样式 */

* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: rgb(240, 237, 241);
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

h4 {
    font-size: 16px;
}

.pointer {
    cursor: pointer;
    text-align: center;
}

.hide {
    display: none;
}

.not-allowed {
    cursor: not-allowed;
}

input, textarea, select {
    border: transparent;
    outline: none;
    padding-left: 5px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12%;
    width: 100%;
    background-color: #fff;
    padding-left: 30px;
}

#header-sign {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 60%;
    width: auto;
    user-select: none;
}

#header-logo {
    height: 100%;
    margin-right: 16px;
}

#header-opt {
    padding-right: 30px;
    font-size: 16px;
    font-weight: 500;
    user-select: none;
}

#header-time a, #header-exit a {
    color: rgb(162, 125, 210);
}

#header-exit a {
    text-decoration: underline;
}

#content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 80%;
    width: 100%;
}

#content a {
    text-decoration: none;
    color: black;
}

#side-nav {
    flex: 2;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 10px;
}

#side-nav ul {
    min-width: 160px;
    padding: 0;
    margin-top: 10px;
}

.side-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    list-style: none;
    height: 50px;
    cursor: pointer;
    border-radius: 10px 0 0 10px;
    user-select: none;
}

.side-tabs:hover {
    background-color: #ccc;
}

.side-active {
    border-right: 5px rgb(162, 125, 210) solid;
}

#operation {
    margin: 10px;
    flex: 14;
    height: 100%;
}

.opt-tabs {
    background-color: #fff;
    width: 120px;
    height: 40px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    user-select: none;
}

.opt-tabs:hover {
    background-color: rgb(135, 68, 212);
    color: #fff;
}

.opt-active {
    background-color: rgb(165, 123, 212);
    color: #fff;
}

#opt-content {
    background-color: #fff;
    min-height: 100%;
    border-radius: 10px;
    border-top-left-radius: 0;
    height: 100%;
}

.opt-pane {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

#opt-enroll-tabs {
    border-bottom: none;
}

.dele {
    position: relative;
    width: 380px;
    height: 180px;
    padding-top: 30px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0.7px 10px rgba(129, 129, 129, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secti {
    width: 100%;
    height: 100%;
    padding: 40px 0;
    align-items: center;
    z-index: 1000 !important;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sec-de {
    position: absolute;
    right: -15px;
    top: -15px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: rgba(164, 123, 212, .8);
}

.sec-de svg {
    margin-left: -2px;
    width: 30px;
}

.sec-de:hover {
    background-color: rgb(164, 123, 212);
}

.de-sub {
    height: 48px;
    width: 140px;
    margin: 20px;
    margin-bottom: -5px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: rgba(163, 123, 233, .8);
    color: white;
    font-size: 16px;
}

.de-sub:hover {
    background-color: rgb(163, 123, 233);
}

.opt-header {
    width: 100%;
    display: flex;
}

.opt-search {
    display: flex;
    justify-content: flex-start;
    border: 1px rgb(165, 123, 212) solid;
    border-right: transparent;
    border-radius: 5px 0 0 5px;
    padding: 2px;
}

#opt-svg {
    width: 24px;
    height: 24px;
}

#opt-input {
    border: transparent;
}

.opt-btn {
    margin-right: 25px;
    border: transparent;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(165, 123, 212);
    width: 80px;
}

.opt-s-btn {
    border-radius: 0 5px 5px 0;
    width: 80px;
}

.opt-btn:hover, .opt-s-btn:hover {
    background-color: rgb(135, 68, 212);
}

#opt-select {
    width: 150px;
}

.opt-select {
    width: 125px;
    border: 1px rgb(165, 123, 212) solid;
    border-radius: 5px;
    outline: none;
}

.opt-table {
    margin-top: 20px;
    /* height: 425px; */
    text-align: center;
    border: 0;
}

.opt-table thead {
    color: #fff;
    background-color: rgb(165, 123, 211);
}

.opt-table thead tr th {
    border: 0;
}

.opt-table th {
    text-align: center;
}

.opt-table tbody tr td {
    border: 0;
}

.opt-table tbody tr:nth-child(even) {
    background-color: rgb(234, 222, 242);
}

.opt-table tbody tr:hover {
    background-color: rgb(186, 140, 216);
    color: #fff;
}

.opt-footer {
    display: flex;
    justify-content: center;
}

.opt-footer ul {
    padding: 0 10px;
}

.opt-footer ul li {
    padding: 0 2px;
    list-style: none;
    float: left;
}

.opt-footer-pre, .opt-footer-nxt {
    color: rgb(135, 68, 212);
    text-decoration: underline;
    cursor: pointer;
}

.opt-page-tab {
    font-weight: 600;
}

.opt-switch {
    display: flex;
    justify-content: center;
    margin-left: 20px;
}

.opt-switch p {
    color: rgb(135, 68, 212);
}

.opt-switch input {
    width: 40px;
    height: 20px;
    border: 1px rgb(165, 123, 212) solid;
    border-radius: 5px;
    outline: none;
    resize: none;
    margin: 0 5px;
    padding-left: 5px;
}

.detail-svg {
    margin: 0 auto;
    width: 24px;
}

.page-chose {
    color: rgb(165, 123, 212);
}