.opt-result-btn {
    margin: 0 5px;
}

.opt-send-btn {
    margin-left: 300px;
}

.opt-select {
    margin-left: 5px;
}

.sec-pane {
    width: 100%;
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sec-pane-item {
    flex: 0 0 50%;
    text-align: center;
}

.sec-pane-item input, .sec-pane-item select {
    margin-top: 5px;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: 1px rgb(165, 123, 212) solid;
}

.sec-pane-item input {
    margin-left: 14px;
}

.sec-pane-item select {
    margin-left: 10px;
}

.notice-send {
    height: 400px;
}

.sec-pane-item textarea {
    border-radius: 5px;
    border: 1px rgb(165, 123, 212) solid;
    resize: none;
}

#tbody svg {
    cursor: pointer;
}

.opt-page-tab {
    cursor: pointer;
}

