.opt-result-btn {
    margin: 0 5px;
}

.opt-send-btn {
    position: absolute;
    right: 10px;
    height: 30px;
}

.opt-select {
    margin-left: 5px;
}

.sec-pane {
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec-pane-item {
    text-align: center;
}

.sec-pane-item input, .sec-pane-item select {
    margin-top: 5px;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: 1px rgb(165, 123, 212) solid;
}

.sec-pane-item input {
    margin-left: 14px;
}

.sec-pane-item select {
    margin-left: 10px;
}

.notice-send {
    height: 450px;
}

.sec-pane-item textarea {
    border-radius: 5px;
    border: 1px rgb(165, 123, 212) solid;
    resize: none;
}

.sec-pane-item textarea::-webkit-scrollbar {
    display: none
}

#tbody svg {
    cursor: pointer;
}

.opt-page-tab {
    cursor: pointer;
}

.page-chose {
    color: rgb(165, 123, 212);
}

.sec-send-input {
    width: 120px !important;
}

.margin-t {
    margin: 10px 95px 3px 0;
}

.notice-change {
    height: 370px;
}

.choose {
    cursor: default !important;
}

#send-message-title {
    width: 200px;
}